<div class="container-index">
  <div class="overview">
    <h3>Hello <%= current_user.name.capitalize %>,</h3>
    <p>welcome back! 👋</p>
  </div>
  <div class="margin-left">
  <div class="scrollable">
  <% @plants.each do |plant| %>
    <%= link_to plant_path(plant) do %>
    <div class="plant-card shadow p-3 mb-5 bg-white rounded">
      <div class="plant-card-text">
        <h4><%= plant.common_name %></h4>
        <% if @watering_event %>
          <p>Needs water in: <%= pluralize(((@watering_event + plant.watering_interval) - @watering_event.to_date).to_i, "day") %></p>
      </div>
        <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
  </div>
  <%= link_to new_plant_path do %>
  <div class="new-plant-card">
    <div class="new-plant-text">
    <p style="color:white">Add plant</p>
  </div>
</div>
<% end %>
</div>


