<div class="container-index">
  <div class="overview">
    <h5>Hello <%= current_user.name.capitalize %>,</h5>
    <p>TEST 🌱</p>
  </div>
  <% if @plants.present? %>
  <p style="margin-left: 20px;">Your Garden has <%= pluralize(@plants.count, "plant") %>.</p>
    <div class="scrollable">
      <% @plants.each do |plant| %>
        <%= link_to plant_path(plant) do %>
          <div class="plant-card shadow p-3 mb-5 bg-white rounded">
            <div class="plant-card-text">
              <p style="font-weight: bold;"><%= plant.common_name %></p>
              <% if @watering_event %>
              <p>Needs water in: <%= pluralize(((@watering_event + plant.watering_interval) - @watering_event.to_date).to_i, "day") %></p>
              <% end %>
            </div>
          </div>
        <% end %>
     <% end %>
    </div>
    <p style="margin-left: 20px;">Upcoming activites:</p>
    <div class="scrollable">

          <div class="activity-card shadow p-3 mb-5 bg-white rounded">
            <div class="plant-card-text">
              <p style="font-weight: bold;">M</p>

            </div>
          </div>

    </div>
  <% else %>
  <%= link_to new_plant_path do %>
    <div class="new-plant-card">
      <div class="new-plant-text">
        <p style="color:white">Add plant</p>
      </div>
    </div>
  <% end %>
  <% end %>
</div>


