<div class="container">
  <% @plants.each do |plant| %>
    <%= link_to plant_path(plant) do %>
    <% if plant.photo.attached? %>
        <%= cl_image_tag plant.photo.key, height: 240, width: 200, crop: :fill %>
    <% end %>
    <p>Common name: <%= plant.common_name %></p>
    <% if @watering_event %>
      <p>Last watered: <%= @watering_event.to_date.to_formatted_s(:long) %></p>
      <p>Water on: <%= (@watering_event + plant.watering_interval).to_date.to_formatted_s(:long) %></p>
    <% end %>
  <% end %>
  <% end %>

  <p><%= link_to "Add plant", new_plant_path %></p>
</div>
