<div class="container-plant-show">
  <div class="block">
  <div class="plant-information">
  <p><%= @plant.common_name %></p>
  <p>Nickname: <%= @plant.nickname %></p>
  <p>Current watering interval: <%= @plant.watering_interval %> days</p>
  <p>Current fertilizing interval: <%= @plant.fertilizing_interval %> days</p>

  <%= link_to "Go to care plan", care_path(@plant) %>

  <%= simple_form_for([@plant, @watering_event]) do |f| %>
    <%= f.label :date %>
    <%= f.text_field :date %>
    <%= f.label :note %>
    <%= f.text_field :note %>
    <%= f.submit %>
  <% end %>

  <%= simple_form_for([@plant, @fertilizing_event]) do |f| %>
    <%= f.label :date %>
    <%= f.text_field :date %>
    <%= f.label :note %>
    <%= f.text_field :note %>
    <%= f.submit %>
  <% end %>

  <%= link_to "#{@plant.common_name} died...", plant_path(@plant), method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
  </div>
</div>
