<div class="container">
  <% if @plant.photo.attached? %>
    <%= cl_image_tag @plant.photo.key, height: 240, width: 200, crop: :fill %>
  <% end %>
  <p>Common name: <%= @plant.common_name %></p>
  <p>Nickname: <%= @plant.nickname %></p>
  <p>Scientific name: <%= @plant.scientific_name %></p>
  <p>Watering interval: <%= @plant.watering_interval %> days</p>
  <% @plant.watering_events.sort{|a,b| b.date <=> a.date}.each do |watering_event| %>
    <p><%= watering_event.date.to_date.to_formatted_s(:long) %></p>
  <% end %>

  <%= simple_form_for([@plant, @watering_event]) do |f| %>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <%= f.submit %>
<% end %>


  <%= link_to "#{@plant.common_name} died...", plant_path(@plant), method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
